.cntWrapper{
    margin:0 auto;
    padding-top:10px;
    padding-bottom: 10px;
}

.cntSeparator {
    display: inline-block;
    width:10px;
}

.cntDigit {
    /*float:left;
    margin-top: 148px !important;*/
    display: inline-block;
    background: url('../design/countdown/digits-min.png');
}